xsd/core4.2/base/Address.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/base/4.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.2.0">
	<xs:annotation>
		<xs:documentation>This package contains classes that model addresses and other contact information. [FIXM]

=========================================== 
Copyright (c) 2020 Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA 
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- Neither the names of Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on Airservices Australia: http://www.airservicesaustralia.com/ 
Details on DSNA: http://www.developpement-durable.gouv.fr/-Navigation-aerienne-.html 
Details on EUROCONTROL: http://www.eurocontrol.int/ 
Details on IATA: http://www.iata.org/Pages/default.aspx 
Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
Details on NATS Limited: http://www.nats.co.uk/ 
Details on NAV CANADA: http://www.navcanada.ca/ 
Details on the UAE GCAA: https://www.gcaa.gov.ae 
Details on the ICCAIA: www.iccaia.org 
Details on the SESAR JU and its members: http://www.sesarju.eu/discover-sesar/partnering-smarter-aviation/members 
Details on the US FAA: http://www.faa.gov/ </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Extension.xsd"/>
	<xs:include schemaLocation="Types.xsd"/>
	<xs:simpleType name="TelecomNetworkTypeType">
		<xs:annotation>
			<xs:documentation>The Telecom Networks that can be used to address an organisation. [adapted from AIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AFTN">
				<xs:annotation>
					<xs:documentation>The data interchange in the AFS is performed by the Aeronautical Fixed Telecommunications Network, AFTN. This is a message handling network running according to ICAO Standards documented in Annex 10 to the ICAO Convention.[AIXM]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTERNET">
				<xs:annotation>
					<xs:documentation>The Internet is a worldwide, publicly accessible series of interconnected computer networks that transmit data by packet switching using the standard Internet Protocol (IP). 
The usage of this value indicates that a URL will be provided for the linkage property in OnlineContact.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextAddressType">
		<xs:annotation>
			<xs:documentation>Basis for e-mail and street addresses. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextCityType">
		<xs:annotation>
			<xs:documentation>Address city. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:TextNameType"/>
	</xs:simpleType>
	<xs:simpleType name="TextCountryCodeType">
		<xs:annotation>
			<xs:documentation>The country code as specified by ISO 3166. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextCountryNameType">
		<xs:annotation>
			<xs:documentation>The country of the physical address for the location or organisation.  Full name, not ISO 3166 abbreviations. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:TextNameType"/>
	</xs:simpleType>
	<xs:simpleType name="TextPhoneType">
		<xs:annotation>
			<xs:documentation>A phone or facsimile number. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:pattern value=" (\+)?[0-9\s\-\(\)]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContactInformationType">
		<xs:annotation>
			<xs:documentation>Information required to enable contact with the responsible person and/or organisation.  This model is derived from ISO19115-2003:Geographic Information- Metadata. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address" type="fb:PostalAddressType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Optional postal address of the contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:ContactInformationExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="fb:TextNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The official name of the contact. In case of the organization use, it is the name of the person within the organization who is the contact point.

If the usage of  ContactInformation is associated with a person, this field should not be used, insead, the Person class' name should be used instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="onlineContact" type="fb:OnlineContactType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Optional e-mail address of the contact.[FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneFax" type="fb:TelephoneContactType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Optional phone or facsimile number of the contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="fb:TextNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The official title of the contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkChoiceType">
		<xs:annotation>
			<xs:documentation>The Telecom Networks that can be used to address an organisation. [adapted from AIXM]</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="other" type="fb:CharacterStringType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to specify network types not included in the TelecomNetworkType list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="fb:TelecomNetworkTypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of telecom network used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OnlineContactType">
		<xs:annotation>
			<xs:documentation>On-line or Network information that can be used to contact the individual or organisation, including eMail address. The contact information can include an email address and either an AFTN address or URL, but usually not both. The network attribute specifies whether the address specified by the linkage attribute is an AFTN or an internet address. [specialised from AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="email" type="fb:TextAddressType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The address of the electronic mailbox of the responsible organisation or individual. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:OnlineContactExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linkage" type="fb:TextAddressType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Location (address) for on-line access using a Uniform Resource Locator address or AFTN address. [adapted from AIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="network" type="fb:NetworkChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The Telecom Networks that can be used to address an organisation. [adapted from AIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddressType">
		<xs:annotation>
			<xs:documentation>Physical address at which the organization or individual may be contacted. Derived from ISO19115-2003</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="administrativeArea" type="fb:TextNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The state or province of the location or organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="fb:TextCityType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The city of the location or organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="fb:TextCountryCodeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The country of the physical address for the location or organisation.  ISO 3166 abbreviations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryName" type="fb:TextCountryNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The country of the physical address for the location or organisation.  Full name, not ISO 3166 abbreviations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deliveryPoint" type="fb:TextAddressType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The street address line for the location.  More than one address line may be used. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:PostalAddressExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="fb:TextNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The ZIP or other postal code for the location or organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneContactType">
		<xs:annotation>
			<xs:documentation>Telephone numbers at which the organisation or individual may be contacted.  From ISO19115-2003. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extension" type="fb:TelephoneContactExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="facsimile" type="fb:TextPhoneType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The telephone number of a facsimile machine for the responsible organisation or individual.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voice" type="fb:TextPhoneType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The telephone number by which individuals can speak to the responsible organisation or individual.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
