xsd/core4.2/base/UnitOfMeasures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/base/4.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.2.0">
	<xs:annotation>
		<xs:documentation>Units for measurement types.

=========================================== 
Copyright (c) 2020 Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA 
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- Neither the names of Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on Airservices Australia: http://www.airservicesaustralia.com/ 
Details on DSNA: http://www.developpement-durable.gouv.fr/-Navigation-aerienne-.html 
Details on EUROCONTROL: http://www.eurocontrol.int/ 
Details on IATA: http://www.iata.org/Pages/default.aspx 
Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
Details on NATS Limited: http://www.nats.co.uk/ 
Details on NAV CANADA: http://www.navcanada.ca/ 
Details on the UAE GCAA: https://www.gcaa.gov.ae 
Details on the ICCAIA: www.iccaia.org 
Details on the SESAR JU and its members: http://www.sesarju.eu/discover-sesar/partnering-smarter-aviation/members 
Details on the US FAA: http://www.faa.gov/ </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="UomAirspeedType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of airspeed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KM_H">
				<xs:annotation>
					<xs:documentation>Kilometres per hour.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KT">
				<xs:annotation>
					<xs:documentation>Knots.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MACH">
				<xs:annotation>
					<xs:documentation>Mach number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomAltitudeType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of altitude.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT">
				<xs:annotation>
					<xs:documentation>Foot.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Metre.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomAngleType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of angles. [ISO 19103, chapter 6.5.7.10]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEG">
				<xs:annotation>
					<xs:documentation>Degree.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomFlightLevelType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of flight level.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FL">
				<xs:annotation>
					<xs:documentation>Flight level in hundreds of feet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SM">
				<xs:annotation>
					<xs:documentation>Flight level in tens of metres.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomFrequencyType">
		<xs:annotation>
			<xs:documentation>Radio frequency unit of measure. Either kHz OR MHz.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KHZ">
				<xs:annotation>
					<xs:documentation>Indicates this radio frequency is measured in kHz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MHZ">
				<xs:annotation>
					<xs:documentation>Indicates this radio frequency is measured in MHz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomGroundSpeedType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of  ground speed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KM_H">
				<xs:annotation>
					<xs:documentation>Kilometres per hour.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KT">
				<xs:annotation>
					<xs:documentation>Knots.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomHeightType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of height.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT">
				<xs:annotation>
					<xs:documentation>Foot.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Metre.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomLengthType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of the length, or distance between two entities. [ISO 19103, chapter 6.5.7.8]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>Centimetre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FT">
				<xs:annotation>
					<xs:documentation>Foot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>Inch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KM">
				<xs:annotation>
					<xs:documentation>Kilometre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MI">
				<xs:annotation>
					<xs:documentation>Statute mile</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MM">
				<xs:annotation>
					<xs:documentation>Millimeter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NM">
				<xs:annotation>
					<xs:documentation>Nautical mile</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomMassType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of mass.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KG">
				<xs:annotation>
					<xs:documentation>Kilogram.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LB">
				<xs:annotation>
					<xs:documentation>Pound.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomPressureType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of pressure.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ATM">
				<xs:annotation>
					<xs:documentation>Standard Atmosphere.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BAR">
				<xs:annotation>
					<xs:documentation>Bar. (=100000 Pascals (Pa))</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HPA">
				<xs:annotation>
					<xs:documentation>Hectopascal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INHG">
				<xs:annotation>
					<xs:documentation>Inches of mercury</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MBAR">
				<xs:annotation>
					<xs:documentation>Millibar.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>Pascal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PSI">
				<xs:annotation>
					<xs:documentation>Pounds per square inch.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TORR">
				<xs:annotation>
					<xs:documentation>Torr. (= mm of mercury (mmHg).)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomTemperatureType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of temperature.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>Degrees Celsius.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>Degrees Fahrenheit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="K">
				<xs:annotation>
					<xs:documentation>Degrees Kelvin.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>Degrees Rankine.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomVerticalRateType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of vertical rate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT_MIN">
				<xs:annotation>
					<xs:documentation>Feet per minute.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M_SEC">
				<xs:annotation>
					<xs:documentation>Metres per second.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomVolumeType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of volume. [ISO 19103, chapter 6.5.7.16]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="US_GAL">
				<xs:annotation>
					<xs:documentation>US Gallon.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="L">
				<xs:annotation>
					<xs:documentation>Litre.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomWeightType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of weight.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KG"/>
			<xs:enumeration value="LB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomWindSpeedType">
		<xs:annotation>
			<xs:documentation>The reference quantities used to express the value of wind speed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KM_H">
				<xs:annotation>
					<xs:documentation>Kilometres per hour.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KT">
				<xs:annotation>
					<xs:documentation>Knots.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M_SEC">
				<xs:annotation>
					<xs:documentation>Metres per second</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MPH">
				<xs:annotation>
					<xs:documentation>Miles per hour.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
