xsd/core4.2/flight/flightdata/FlightData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/flight/4.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="http://www.fixm.aero/flight/4.2" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.2.0">
	<xs:annotation>
		<xs:documentation>The flight data package contains information describing all details associated with the flight. It is a central package of the FIXM model.

=========================================== 
Copyright (c) 2020 Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA 
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- Neither the names of Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on Airservices Australia: http://www.airservicesaustralia.com/ 
Details on DSNA: http://www.developpement-durable.gouv.fr/-Navigation-aerienne-.html 
Details on EUROCONTROL: http://www.eurocontrol.int/ 
Details on IATA: http://www.iata.org/Pages/default.aspx 
Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
Details on NATS Limited: http://www.nats.co.uk/ 
Details on NAV CANADA: http://www.navcanada.ca/ 
Details on the UAE GCAA: https://www.gcaa.gov.ae 
Details on the ICCAIA: www.iccaia.org 
Details on the SESAR JU and its members: http://www.sesarju.eu/discover-sesar/partnering-smarter-aviation/members 
Details on the US FAA: http://www.faa.gov/ </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.2" schemaLocation="../../base/Base.xsd"/>
	<xs:include schemaLocation="../flightroutetrajectory/RouteTrajectory.xsd"/>
	<xs:include schemaLocation="../enroute/EnRoute.xsd"/>
	<xs:include schemaLocation="../emergency/Emergency.xsd"/>
	<xs:include schemaLocation="../departure/Departure.xsd"/>
	<xs:include schemaLocation="../cargo/DangerousGoods.xsd"/>
	<xs:include schemaLocation="../arrival/Arrival.xsd"/>
	<xs:include schemaLocation="../aircraft/Aircraft.xsd"/>
	<xs:include schemaLocation="../rankedtrajectory/RankedTrajectory.xsd"/>
	<xs:element name="Flight" type="fx:FlightType">
		<xs:annotation>
			<xs:documentation>The Flight element is an entry point to the FIXM model.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="SpecialHandlingReasonCodeType">
		<xs:annotation>
			<xs:documentation>The reason for special handling of a flight by ATS. [adapted from ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALTRV">
				<xs:annotation>
					<xs:documentation>for a flight operated in accordance with an altitude reservation [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ATFMX">
				<xs:annotation>
					<xs:documentation>for a flight approved for exemption from ATFM measures by the appropriate ATS authority; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FFR">
				<xs:annotation>
					<xs:documentation>fire-fighting; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FLTCK">
				<xs:annotation>
					<xs:documentation>flight check for calibration of navaids; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAZMAT">
				<xs:annotation>
					<xs:documentation>for a flight carrying hazardous material; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HEAD">
				<xs:annotation>
					<xs:documentation>a flight with Head of State status; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOSP">
				<xs:annotation>
					<xs:documentation>for a medical flight declared by medical authorities; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HUM">
				<xs:annotation>
					<xs:documentation>for a flight operating on a humanitarian mission; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MARSA">
				<xs:annotation>
					<xs:documentation>for a flight for which a military entity assumes responsibility for separation of military aircraft; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MEDEVAC">
				<xs:annotation>
					<xs:documentation>for a life critical medical emergency evacuation; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NONRVSM">
				<xs:annotation>
					<xs:documentation>for a non-RVSM capable flight intending to operate in RVSM airspace; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAR">
				<xs:annotation>
					<xs:documentation>for a flight engaged in a search and rescue mission; [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATE">
				<xs:annotation>
					<xs:documentation>for a flight engaged in military, customs or police services. [ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpecialHandlingReasonCodeListType">
		<xs:annotation>
			<xs:documentation>Helper simpleType to allow for enumerated lists in FIXM.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="fx:SpecialHandlingReasonCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="TypeOfFlightType">
		<xs:annotation>
			<xs:documentation>Indication of the rule under which an air traffic controller provides categorical handling of a flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Military [ICAO Doc 4444, Item 8]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation>General aviation [ICAO Doc 4444, Item 8]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>Non-scheduled air transport operation [ICAO Doc 4444, Item 8]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Scheduled air service [ICAO Doc 4444, Item 8]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X">
				<xs:annotation>
					<xs:documentation>Other than any of the defined categories above. [ICAO Doc 4444, Item 8]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FlightType">
		<xs:annotation>
			<xs:documentation>This is the central object of the FIXM Logical Model. It groups all information about the flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aircraft" type="fx:AircraftType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Aircraft enabling the flight. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arrival" type="fx:ArrivalType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The actual arrival of the flight. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dangerousGoods" type="fx:DangerousGoodsType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about any board dangerous goods</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="departure" type="fx:DepartureType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains flight departure information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emergency" type="fx:FlightEmergencyType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Groups emergency information (description, phase, position, etc) for the flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enRoute" type="fx:EnRouteType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Groups the en route information about the flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:FlightExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightConstraint" type="fx:FlightConstraintType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>A general flight constraint is intended to express a constraint on the flight that cannot be associated with a specific trajectory point, either because it is not relevant to only a specific point or because it is not possible to identify the point. [FF-ICE]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightIdentification" type="fx:FlightIdentificationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A container of flight identifying data. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightPlanOriginator" type="fb:PersonOrOrganizationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Originator of the Flight Plan, can be FF-ICE Participant or a non-upgraded ASP. [adapted from ICAO Draft FF-ICE Implementation Guidance] Equivalent to ATS 18 ORGN/.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightPlanSubmitter" type="fb:PersonOrOrganizationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The FF-ICE Participant that submitted the flight plan. [ICAO Draft FF-ICE Implementation Guidance]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightType" type="fx:TypeOfFlightType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Indication of the rule under which an air traffic controller provides categorical handling of a flight. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gufi" type="fb:UniversallyUniqueIdentifierType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A single reference for FF-ICE information pertinent to a flight that is unique globally. [ICAO Doc 9965]
This is a reference that uniquely identifies a specific flight and is independent of any particular system. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gufiOriginator" type="fb:PersonOrOrganizationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Originator of the GUFI, can be FF-ICE Participant or an ASP. [adapted from ICAO Draft FF-ICE Implementation Guidance] </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operator" type="fb:AircraftOperatorType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A person, organization or enterprise engaged in or offering to engage in an aircraft operation. [ICAO Annex 9]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="radioCommunicationFailure" type="fx:RadioCommunicationFailureType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about radio communication failure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remarks" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Any other plain-language remarks when required by the appropriate ATS authority or deemed necessary, by the pilot-in-command for the provision of air traffic services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="routeTrajectoryGroup" type="fx:RouteTrajectoryGroupContainerType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A logical grouping for all Route Trajectory Groups associated with the flight. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specialHandling" type="fx:SpecialHandlingReasonCodeListType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The reason for special handling of a flight by ATS. [adapted from ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supplementaryData" type="fx:SupplementaryDataType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A container for supplementary data about the flight. This container does not capture the complete set of elements described in ICAO Doc 4444 ITEM 19 "Supplementary Information"; it only contains those elements that could not be modeled more logically in other FIXM structures. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightConstraintType">
		<xs:annotation>
			<xs:documentation>A general flight constraint is intended to express a constraint on the flight that cannot be associated with a specific trajectory point, either because it is not relevant to only a specific point or because it is not possible to identify the point. [FF-ICE]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="applicability" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Expression of a general flight constraint shall allow for a description of applicability.  Description of the applicability shall accommodate a free-text description. [FF-ICE]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:FlightConstraintExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="impact" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Expression of a general flight constraint shall allow for a description of the impact of the restriction on the flight. Description of the impact of the constraint shall accommodate a free-text description.  [FF-ICE]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="restrictionReference" type="fb:RestrictionReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A general flight constraint should allow reference to a NOTAM; advisory; or AIXM identifier as necessary. [FF-ICE]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightIdentificationType">
		<xs:annotation>
			<xs:documentation>A container of flight identifying data. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aircraftIdentification" type="fb:AircraftIdentificationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A group of letters, figures or a combination thereof which is either identical to, or the coded equivalent of, the aircraft call sign to be used in air-ground communications, and which is used to identify the aircraft in ground-ground air traffic services communications. [ICAO Doc 4444]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aircraftIdentificationPrevious" type="fb:AircraftIdentificationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Specifies the previous aircraft identification value when a change is made.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:FlightIdentificationExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RouteTrajectoryGroupContainerType">
		<xs:annotation>
			<xs:documentation>A logical grouping for all Route Trajectory Groups associated with the flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="agreed" type="fx:RouteTrajectoryGroupType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The 4D Trajectory agreed to by a FF-ICE enabled Air Traffic Management Service Providers (eASP) after collaboration between the FF-ICE enabled airspace user (eAU) and the eASP.
The route of flight agreed to by a FF-ICE enabled Air Traffic Management Service Providers (eASP) after collaboration between the FF-ICE enabled airspace user (eAU) and the eASP. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="fx:RouteTrajectoryGroupType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Represents the current flight plan concept described by EICAO PANS-ATM Doc 4444.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desired" type="fx:RouteTrajectoryGroupType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The preferred route of flight submitted by the FF-ICE enabled airspace user (eAU) to the FF-ICE enabled Air Traffic Management Service Providers (eASP) subject to required constraints.
This trajectory indicates the preferred 4D trajectory submitted by the FF-ICE enabled airspace user (eAU) to the FF-ICE enabled Air Traffic Management Service Providers (eASP) subject to required constraints.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:RouteTrajectoryGroupContainerExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filed" type="fx:RouteTrajectoryGroupType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The route of flight filed by the FF-ICE enabled airspace user (eAU) with the FF-ICE enabled Air Traffic Management Service Providers (eASP).
This trajectory expresses the 4D trajectory filed by the FF-ICE enabled airspace user (eAU) with the FF-ICE enabled Air Traffic Management Service Providers (eASP).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="negotiating" type="fx:RouteTrajectoryGroupType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The 4D Trajectory used during the collaboration between the FF-ICE enabled airspace user (eAU) and the FF-ICE enabled Air Traffic Management Service Providers (eASP) in order to agree on a 4D trajectory. This trajectory is intended to be transitory. 
This Route is used during collaboration between the FF-ICE enabled airspace user (eAU) and the FF-ICE enabled Air Traffic Management Service Providers (eASP) in order to agree on a route. This route field is intended to be transitory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ranked" type="fx:RankedTrajectoryType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Ranked Trajectories associated with the flight. Order is based on trajectory preference from highest to lowest.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataType">
		<xs:annotation>
			<xs:documentation>A container for supplementary data about the flight. This container does not capture the complete set of elements described in ICAO Doc 4444 ITEM 19 "Supplementary Information"; it only contains those elements that could not be modeled more logically in other FIXM structures. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extension" type="fb:SupplementaryDataExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fuelEndurance" type="fb:DurationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The estimated maximum length of time the aircraft can spend in the cruise phase of flight, determined by the amount of fuel at takeoff. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personsOnBoard" type="fb:CountType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The total number of persons (passengers and crew) on board the aircraft. [ICAO Doc 4444, Appendix 2, Item 19]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pilotInCommand" type="fb:PersonOrOrganizationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The pilot designated by the operator, or in the case of general aviation, the owner, as being in command and charged with the safe conduct of a flight. [ICAO Doc 4444]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supplementaryDataSource" type="fx:SupplementaryDataSourceChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Describes the source of the supplementary data. Can be either a Person/Organization or ATC Unit.

A Supplementary Information Source can be identified using a location identifier (from Doc. 7910 + Doc. 8585) for an ATS unit; an AFTN address; FF-ICE Participant identification per B-2.28; or appropriate contact information per B-2.12.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataSourceChoiceType">
		<xs:annotation>
			<xs:documentation>Describes the source of the supplementary data. Can be either a Person/Organization or ATC Unit.

A Supplementary Information Source can be identified using a location identifier (from Doc. 7910 + Doc. 8585) for an ATS unit; an AFTN address; FF-ICE Participant identification per B-2.28; or appropriate contact information per B-2.12.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="personOrOrganization" type="fb:PersonOrOrganizationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A Person/Organization source of the supplementary data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unit" type="fb:AtcUnitReferenceType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An ATC unit source of the supplementary data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
