xsd/core4.2/flight/aircraft/Aircraft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/flight/4.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="http://www.fixm.aero/flight/4.2" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.2.0">
	<xs:annotation>
		<xs:documentation>The aircraft package describes the details about the aircraft that is servicing the flight. [FIXM]

=========================================== 
Copyright (c) 2020 Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA 
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- Neither the names of Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking and US FAA nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on Airservices Australia: http://www.airservicesaustralia.com/ 
Details on DSNA: http://www.developpement-durable.gouv.fr/-Navigation-aerienne-.html 
Details on EUROCONTROL: http://www.eurocontrol.int/ 
Details on IATA: http://www.iata.org/Pages/default.aspx 
Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
Details on NATS Limited: http://www.nats.co.uk/ 
Details on NAV CANADA: http://www.navcanada.ca/ 
Details on the UAE GCAA: https://www.gcaa.gov.ae 
Details on the ICCAIA: www.iccaia.org 
Details on the SESAR JU and its members: http://www.sesarju.eu/discover-sesar/partnering-smarter-aviation/members 
Details on the US FAA: http://www.faa.gov/ </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.2" schemaLocation="../../base/Base.xsd"/>
	<xs:include schemaLocation="../capability/Capability.xsd"/>
	<xs:simpleType name="AircraftAddressType">
		<xs:annotation>
			<xs:documentation>A unique combination of twenty-four bits available for assignment to an aircraft for the purpose of air-ground communications, navigation and surveillance. [ICAO Doc 4444]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:pattern value="[0-9A-F]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AircraftApproachCategoryType">
		<xs:annotation>
			<xs:documentation>Classification of aircraft based on 1.3 times stall speed in landing configuration at maximum certified landing mass. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>less than 169 km/h (91 kt) indicated airspeed (IAS) [ICAO Doc 8168, Vol. I, chapter 1.3.5]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>169 km/h (91 kt) or more but less than 224 km/h (121 kt) IAS [ICAO Doc 8168, Vol. I, chapter 1.3.5]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>224 km/h (121 kt) or more but less than 261 km/h (141 kt) IAS [ICAO Doc 8168, Vol. I, chapter 1.3.5]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>261 km/h (141 kt) or more but less than 307 km/h (166 kt) IAS [ICAO Doc 8168, Vol. I, chapter 1.3.5]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>307 km/h (166 kt) or more but less than 391 km/h (211 kt) IAS [ICAO Doc 8168, Vol. I, chapter 1.3.5]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>Helicopters [ICAO Doc 8168, Vol. I, chapter 1.3.5]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AircraftRegistrationType">
		<xs:annotation>
			<xs:documentation>A unique, alphanumeric string that identifies a civil aircraft and consists of the Aircraft Nationality or Common Mark and an additional alphanumeric string, the registration mark, assigned by the state of registry or common mark registering authority. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:pattern value="[A-Z0-9]{1,7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AircraftRegistrationListType">
		<xs:annotation>
			<xs:documentation>Helper simpleType that allows representation of aircraft registrations as a list.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="fx:AircraftRegistrationType"/>
	</xs:simpleType>
	<xs:simpleType name="FormationCountType">
		<xs:annotation>
			<xs:documentation>The number of aircraft, if more than one. The number equals the sum of counts of all aircraft types.  [ICAO Doc 4444, Appendix 2, ITEM 9]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CountType">
			<xs:minInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WakeTurbulenceCategoryType">
		<xs:annotation>
			<xs:documentation>ICAO classification of the aircraft wake turbulence, based on the maximum certified take off mass. [FIXM}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="L">
				<xs:annotation>
					<xs:documentation>An aircraft type with a maximum certified take-off mass of 7000 kg or less. [ICAO Doc 4444, Appendix 2, ITEM M]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>An aircraft type with a maximum certified take-off mass of less than 136000 kg. but more than 7000 kg. [ICAO Doc 4444, Appendix 2, ITEM M]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>An aircraft type with a maximum certified take-off mass of 136000 kg or more. [ICAO Doc 4444, Appendix 2, ITEM M]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J">
				<xs:annotation>
					<xs:documentation>A super heavy aircraft type e.g. the Airbus A380-800. (In the order of 560,000kg). [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AircraftType">
		<xs:annotation>
			<xs:documentation>Aircraft enabling the flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aircraftAddress" type="fx:AircraftAddressType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A unique combination of twenty-four bits available for assignment to an aircraft for the purpose of air-ground communications, navigation and surveillance. [ICAO Doc 4444]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aircraftApproachCategory" type="fx:AircraftApproachCategoryType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Classification of aircraft based on 1.3 times stall speed in landing configuration at maximum certified landing mass. [AIXM 5.1]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aircraftType" type="fx:AircraftTypeType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>The type of aircraft enabling the flight. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="capabilities" type="fx:FlightCapabilitiesType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The capabilities of the flight comprising of the:
a) presence of relevant serviceable equipment on board the aircraft;
b) equipment and capabilities commensurate with flight crew qualifications; and
c) where applicable, authorization from the appropriate authority.
[FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coloursAndMarkings" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The colours and markings of the aircraft. [ICAO Doc 4444, Appendix 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:AircraftExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formationCount" type="fx:FormationCountType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The number of aircraft, if more than one. The number equals the sum of counts of all aircraft types.  [ICAO Doc 4444, Appendix 2, ITEM 9]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registration" type="fx:AircraftRegistrationListType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A unique, alphanumeric string that identifies a civil aircraft and consists of the Aircraft Nationality or Common Mark and an additional alphanumeric string, the registration mark, assigned by the state of registry or common mark registering authority. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wakeTurbulence" type="fx:WakeTurbulenceCategoryType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>ICAO classification of the aircraft wake turbulence, based on the maximum certified take off mass. [FIXM}</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AircraftTypeType">
		<xs:annotation>
			<xs:documentation>The type of aircraft enabling the flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extension" type="fb:AircraftTypeExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfAircraft" type="fb:CountPositiveType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>In case of a formation flight comprising more than one aircraft type, number of aircraft of the same aircraft type within the formation. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="fx:AircraftTypeChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The type of aircraft enabling the flight. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AircraftTypeChoiceType">
		<xs:annotation>
			<xs:documentation>An aircraft type choice being either:
- the ICAO designator of the aircraft type, as specified in ICAO Doc 8643, Aircraft Type Designators.
- if no such designator has been assigned, any other identification of the aircraft type.
[FIXM]</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="icaoAircraftTypeDesignator" type="fb:AircraftTypeDesignatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The aircraft type designator of the aircraft as specified in ICAO Doc 8643. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherAircraftType" type="fb:CharacterStringType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Other, non-ICAO identification of the aircraft type. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
